* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #191919;
}

#level-title {
	font-family: 'Press Start 2P', cursive;
	font-size: 3rem;
	margin: 2rem;
	color: #ecdbba;
	user-select: none;
	position: relative;
	bottom: 40px;
}

main {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-auto-rows: auto;
	grid-gap: 25px;
}

.btn {
	height: 200px;
	width: 200px;

	border-radius: 5%;
}

.game-over {
	background-color: #c84b31;
	opacity: 0.8;
}

.red {
	background-color: #c84b31;
}

.green {
	background-color: #116530;
}

.blue {
	background-color: #2d4263;
}

.yellow {
	background-color: #ffbd35;
}

.pressed {
	transform: matrix(0.97, 0, 0, 0.97, 0, 0);
	filter: brightness(120%);
}
