* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #191919;
	touch-action: manipulation;
}

#level-title {
	font-family: 'Press Start 2P', cursive;
	font-size: 3rem;
	margin: 2rem;
	color: #ecdbba;
	user-select: none;
}

main {
	min-height: 90vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-auto-rows: auto;
	grid-gap: 1.5rem;
}

.btn {
	height: 13rem;
	width: 13rem;

	border-radius: 5%;
}

.game-over {
	background-color: #3d0000;
	opacity: 0.8;
}

.red {
	background-color: #c84b31;
}

.green {
	background-color: #116530;
}

.blue {
	background-color: #2d4263;
}

.yellow {
	background-color: #ffbd35;
}

.pressed {
	transform: matrix(0.97, 0, 0, 0.97, 0, 0);
	filter: brightness(120%);
}

/* media queries */

@media screen and (max-width: 600px) {
	.btn {
		height: 10rem;
		width: 10rem;
	}
	.container {
		grid-gap: 1rem;
	}
	#level-title {
		font-size: 2.3rem;
	}
}
